body { padding-bottom: 70px; }

/* Tablets/desktops and up */
@media screen and (min-width: 768px) {
    .affix {
        position: fixed;
        margin-top: 20px;
    }
}

/* Small devices */
.affix {
    position: static;
}